.redonda_icono{
	float: none;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #34495E;
	width: 100px;
	height: 100px;
}

.icono_m_top{
	margin-top: 19px;
}

.nav{
	background-color: #34495E;
}

.redonda_icono a{
	text-decoration: none;
	color: #ECF0F1;
}

.redonda_icono a:link{
	text-decoration: none;
	color: white;
}

.redonda_icono a:hover {
    color: white;
}

