.header{
	background-color: #34495E; 
	min-height: 429px;
}
.imagen-background{
	top: 72px;
	position: fixed;
	width: 210px;
}

.med{
	margin-top: 10px;
	margin-left: 10px;
}

.height-seccion-main{
	min-height: 429px;
	font-family: 'Montserrat', sans-serif;
}

.height-seccion-main1{
	min-height: 429px;
	padding-top: 3%;
}

.logosprint{
	position: absolute;
	left: 30%;
	top: 68px;
}

.logos img{
	margin-left: 20px;
}

.appstore{
	position: absolute;
	width: 90px;
	left: 38%;
	top: 270px;
}

.android{
	position: absolute;
	width: 90px;
	left: 67%;
	top: 270px;
}

/*icono*/
.circulo {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: #34495E;
     opacity: 0.8;
     position: relative;
}

/*Propiedades de los iconos*/
.circulo span{
	position: absolute;
	font-size: 20px;
	color: white;
	top: 15px;
	left: 14px;
}


.background-sections:nth-child(even) {
	background: #ECF0F1;
}

.background-sections:nth-child(odd) {
}

.footer {
	background:#34495E;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color:white;
}

.imgDeveloper{
	width: 220px;
	height: 220px;
	-webkit-filter:grayscale(90%);
	-moz-filter:grayscale(90%);
}
.imgDeveloper:hover {
	-webkit-filter:none;
	-moz-filter:none;
	-webkit-transition:filter 1s;
	-moz-transition:filter 1s;
}

#developers{
	font-family: 'Montserrat', sans-serif;
	color: #34495E;
}

.developers{
	width:180px;
	margin: 0 auto;
}

.ifooter{
	text-align: center;
}

.nameDevelop{
	font-size: 13px;
	font-weight: bold;
}
.nameDevelop span{
	font-size: 11px;
	display: block;
	border-bottom: 2px solid #34495E;
	padding-bottom: 5px;
	font-weight: normal;
}

.imgDeveloper{
	width: 180px;
	height: 180px;
}

.descripDevelop{
	font-size: 11px;
}

.ifooter{
	font-size: 20px;
}

.ifooter a{
	color: #34495E;
}

.ifooter a:hover{
	color: #337AB7;
}

.ifooter span {
	margin-right: 3px;
}

.infoApp {
	padding-bottom: 10px;
}

#multijugador span{
	font-size: 20px;
	display: block;
}

.icons_amics span{
	display: inline;
	font-size: 50px;
	color: #34495E;
}

.icons_amics{
	padding-top: 5%;
}

.padding_main{
	padding-top: 80px;
}

.padding_main1{
	padding-top: 80px;
}

.linksmain:hover{
	text-decoration: none;
}

.linksmain span:hover{
	color: #337AB7;
}

@media screen and (max-width: 767px) {
	.imagen-background{
		top: 72px;
		position: absolute;
		width: 210px;
		left:34%;
	}
	.padding_main1{
		padding-top: 15px;
	}
	.icons_amics{
		margin-left: 15px;
	}
	.developers{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 500px) {
	.imagen-background{
		top: 72px;
		position: absolute;
		width: 210px;
		left:23%;
	}
	.padding_main1{
		padding-top: 15px;
	}
	.icons_amics{
		margin-left: 15px;
	}
	.developers{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 350px) {
	.imagen-background{
		top: 72px;
		position: absolute;
		width: 210px;
		left:17%;
	}
	.padding_main1{
		padding-top: 15px;
	}
	.icons_amics{
		margin-left: 15px;
	}
	.developers{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}



